@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind utilities;

/* Root variables */
:root {
  --color-primary: #f5f5f5;
  --color-dark: #171717;
  --color-secondary: #262626;
  --color-grayish: #404040;
  --color-light: #e5e5e5;
  --color-selection: #bfdbfe;
  --color-graylight: #a1a1a1;

  --font-albert-sans: "Albert Sans", sans-serif;
  font-family: var(--font-albert-sans);
}
.cursor-dot {
  display: none;
  width: 8px;
  height: 8px;
  background-color: #efefef;
  border-radius: 9999px;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  mix-blend-mode: difference;
}

@media (min-width: 640px) {
  .cursor-dot {
    display: flex;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-family: var(--font-albert-sans);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-dark);
}

::-moz-selection {
  background-color: var(--color-dark);
  color: var(--color-dark);
}

h1 {
  display: none;
  overflow: hidden;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}