@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Root variables */
:root {
  --color-primary: #f5f5f5;
  --color-dark: #171717;
  --color-secondary: #262626;
  --color-grayish: #404040;
  --color-light: #e5e5e5;
  --color-selection: #bfdbfe;
  --color-graylight: #a1a1a1;

  --font-albert-sans: "Albert Sans", sans-serif;
  font-family: var(--font-albert-sans);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-family: var(--font-albert-sans);
}

* {
  box-sizing: border-box;
}

h1 {
  display: none;
  overflow: hidden;
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-dark);
}
.sentence {
  display: inline-block;
  transform: translateY(70px);
  white-space: pre-wrap;
}
.animated-wrapper {
  display: inline-block;
  overflow: hidden;
}

/* Infinite scroll animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 5s linear infinite;
}

.animate-slide-slow {
  animation: slide 6s linear infinite;
}
