@import "tailwindcss";

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

.perspective {
  perspective: 600px;
}
.front {
  backface-visibility: hidden;
  position: absolute;
}
.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
}
.hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}
