@import url('https://fonts.googleapis.com/css2?family=Alberta+Sans:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #f5f5f5;
  --color-dark: #171717;
  --color-secondary: #262626;
  --color-grayish: #404040;
  --color-light: #e5e5e5;


  --font-albert-sans: 'Albert Sans', sans-serif;
  font-family: var(--font-albert-sans);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-family: var(--font-albert-sans);
}

* {
  box-sizing: border-box;
}

.transition-name {
  transition: all 0.5s ease-in-out;
}
