@import url("https://fonts.googleapis.com/css2?family=Alberta+Sans:wght@400;700&display=swap");
@import "tailwindcss";

/* Root variables */
:root {
  --color-primary: #f5f5f5;
  --color-dark: #171717;
  --color-secondary: #262626;
  --color-grayish: #404040;
  --color-light: #e5e5e5;

  --font-albert-sans: "Alberta Sans", sans-serif;
  font-family: var(--font-albert-sans);
}

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-family: var(--font-albert-sans);
}

* {
  box-sizing: border-box;
}

h1 {
  display: none;
  overflow: hidden;
}

h1,
p {
  overflow: hidden;
}

.masked-word {
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

::selection {
  background-color: #bbf7d0;
  color: var(--color-dark);
}
/* global.css or relevant stylesheet */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards ease-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
